*{
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    background-color: darkslategray;
}

.header {
    height: 5vh;
}

.main {
    height: 100%;
}

.footer {
    height: 5vh;
}

.container {
    max-width: 95%;
    /* margin: 0 auto; */
}

.slider {
    max-width: 100%;
    max-height: 100%;
}

.slider > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}